/*font-family: 'Inconsolata', monospace;
font-family: 'Arvo', serif;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
}

html {
	scroll-behavior: smooth;
}
/*index.html*/

#jumbo-land {
	height: 100vh;
	/*background-color: #333;*/
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	border-radius: 0; /*remove round corners*/
	/*padding-top: 5%;*/
	margin: 0;
}

.jumbotron h1,
.jumbotron p {
	color: #f2f2f2;
}

#companylogo .logo {
	width: 400px;
	height: 400px;
	margin: 10px;
}

#artist .artistpic {
	width: 400px;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 100%;
	border: 5px solid #fad405;
	}

.btn a {
	text-decoration: none;
	color: #000;
	background-color: #fad405;
	font-size: 18px;
	border-radius: 50px;
	padding: 20px;
	margin: 30px;
	font-weight: bold;
}

/*home.html*/
span.navbar-toggler-icon {
	color: #000;
}
.navbrand {
	color: white;
}
.navbar {
	background-color: #fad405;
}
.nav-link > a {
	color: #000;
}

a img {
	height: 70px;
}

.nav-link > a:hover {
	color: #fff;
	text-decoration: none;
}
header#main-header {
 	/*background-color: rgba(0,0,0,0.5);*/
 	background-color: #000;
 	min-height: 10vh;
 	font-family: 'Work Sans', sans-serif;
 	position: fixed;
 	top: 0px;
 	width: 100%;
 }

 header#main-header div {
 	height: 100%;
 	width: 50%;
 	float: left;
 }

header#main-header > div > h2 {
 	line-height: 10vh;
 	margin-left: 15px;
 	width: 500px;
 	clear: both;
 }

 header#main-header > div > h2 > a {
  	color: white;
  	text-decoration: none;
 }

 header#main-header > div:last-child > ul {
 	list-style: none;
 	text-align: center;
 }

header#main-header > div:last-child > ul > li {
  	display: inline;
  	line-height: 10vh;
  	margin-right: 15px;
  }

header#main-header > div:last-child > ul > li > a {
	color: #fad405;
	text-decoration: none;
	text-transform: uppercase;
}
header#main-header > div:last-child > ul > li >a:hover {
	color: white;
}

footer#main-footer {
	width: 100%;
	clear: both;
}
footer#main-footer > p {
 	background-color: #fad405;
 	min-height: 5vh;
 	padding: 15px;
 	text-align: center;
 	margin-bottom: 0;
 }

 h2, h3, h4, h5 {
 	text-align: center;
 	font-family: 'Arvo', serif;
 	color: #fff;
 }
.container-fluid {
	width: 100%;
	margin: 0;
	text-align: center;
	padding: 0;
}
.section {
	padding: 20px;
}
.about {
	background-color: #151515;
	color: #FFDD03;
}
.offers {
	background-color: #0A0A0A;
	color: #FBC403;
}

.tpoffers {
	text-align: center;
}


.artist {
	background-color: #151515;
	color: #FFDD03;
}

.feedback {
	background-color: #151515;
	color: #FFDD03;
}
.clear:after {
	content: " ";
	display: block;
	clear: both;
}
.column {
	width: 31%;
	background-color: #0A0A0A;
	height: 210px;
	margin: 20px 1.16%;
	float: left;
	overflow: hidden;
	
}

.column:hover {
	overflow: auto;
}

.avatar1 {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	background-image: url('../images/1.jpg');
	background-size: cover;
	border-radius: 40px;
}

.avatar2 {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	background-image: url('../images/2.jpg');
	background-size: cover;
	border-radius: 40px;
}

.avatar3 {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	background-image: url('../images/3.jpg');
	background-size: cover;
	border-radius: 40px;
}

.avatar4 {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	background-image: url('../images/4.jpg');
	background-size: cover;
	border-radius: 40px;
}

.avatar5 {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	background-image: url('../images/5.jpg');
	background-size: cover;
	border-radius: 40px;
}

.avatar6 {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	background-image: url('../images/6.jpg');
	background-size: cover;
	border-radius: 40px;
}

.username {
	margin-top: 30px;
}

.comment {
	margin: 10px;
	overflow: hidden;
}


.gallery {
	background-color: #0A0A0A;
	color: #FBC403;
}


.img-set {
	height: 300px;
	width: 300px;
	margin: 0 5px; /*vertical-margin horizontal margin*/
	padding: 5px;
	border: 5px solid white;

}

.img-set:hover {
	/*filter: grayscale(0%);*/
	filter: grayscale(100%) brightness(100%) sepia(80%) hue-rotate(5deg) saturate(500%) contrast(0.5);
}

.img-set-holder {
	text-align: center;
	padding: 20px;
}

.book {
	background-color: #0A0A0A;
}

.comments {
	background-color: #151515;
}

.book,
.comments {
		width: 50%;
		float: left;
}


/*contact.html*/

.contact-form {
	background-color: #151515;
	padding: 70px;
}
.contact-section {
	margin: 30px;
	background-color: #0A0A0A;
}


#post-name,
#post-email,
#post-contact {
	width: 70%;
	padding: 10px;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#post-feedback {
	width: 70%;
	color: white;
	padding: 70px;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 30px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5);
}

.contact-form > .btn > a {
	padding: 0;
}

/*aftercare.html*/
.aftercare-info {
	background-color: #0A0A0A;
	color: yellow;
	text-align: justify;
	padding: 70px;
}

/*book.html*/
.book-info {
	background-color: #0A0A0A;
	color: yellow;
	text-align: center;
	padding: 70px;
	height: 100vh;
}

.book-info h3 {
	padding: 10px;
}

.book-info a {
	color: white;
}

.book-info a:hover {
	color: white;
	background-color: #fad405;
	text-decoration: none;
}


iframe {
	width: 400px;
	height: 400px;
}

 .fa-chevron-circle-up {
 	color: #FFF;
 }

 #myFBBtn {
      font-size: 40px;
      border: 0;
      background-color: transparent;
}

.fa-facebook-square {
	color: white;
	width: 200px
	height: 200px;
}

hr {
	color: #fff;
	z-index: 1;
}
/*Floating Back-To-Top Button*/
    #myBtn {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 10px;
        /*max-width: 100px;*/
        width: 50px;
        font-size: 25px;
        background-color: #FBC403;
        padding: .5px;
        border-radius: 4px;
        opacity: 0.3;

    }
/*On Hover Color Change*/
    #myBtn:hover {
        opacity: 1;
    }


 .fa-chevron-circle-up {
 	color: #FFF;
 }
 






/*media queries*/
/*background-size: contain*/
/*media queries*/
/*mobile style*/
@media only screen and (max-width: 400px) {
	body {
	background-size: contain;
	}

	img.brandlogo {
		margin: 0 auto;
	}

	.img-set-holder {
		padding: 0px;
	}

	.artist > img#artist {
	height: 200px;
	width: 200px;
	}

	.contact-section > a {
	padding: 0;
	font-size: 15px;
	width: 300px;
	}

	#companylogo .logo {
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-top: 20px;
	}

	#artist .artistpic,
	#tattoo .tattoo,
 	#piercing .piercing {
		width: 200px;
		height: 200px;
	}

	.btn a {
	font-size: 10px;
	padding: 10px;
	margin: 30px;
	}

	.book-info {
		height: 100%;
		padding: 30px;
	}

	.book,
	.comments {
		width: 100%;
	}

	.book > h2,
	.comments > h2 {
		font-size: 15px;
		margin: 15px;
	}

	.book > .btn,
	.comment > .btn {
		padding: 0px;
		margin: 15px;
	}

	.contact-form > #form > #div > .btn a {
	font-size: 10px;
	padding: 10px;
	margin: 30px;
	}

	.column {
		text-align: center;
	}

	footer#main-footer > p {
 	margin-bottom: 0;
 	}

 	.contact-form > h3 {
 		font-size: 20px;
 	}

 	iframe {
 		width: 250px;
 		height: 250px;
 	}

 	.column {
	width: 100%;
	}

	.img-set {
 		margin: 10px;
 	}

 	.contact-form {
 		padding: 20px;
 	}
 	form {
 		width: 100%;
 	}

}





/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
		background-size: contain;
		width: 100vw;
	}

	.column {
	width: 100%;
	}

	.section {
		width: 100%;
	}

 	iframe {
 		width: 290px;
 		height: 290px;
 	}

	img.brandlogo {
		margin: 0 auto;
	}

	.img-set {
 		margin: 10px;
 	}

 	#artist .artistpic, 
 	#tattoo .tattoo,
 	#piercing .piercing {
	width: 300px;
	height: 300px;
	}

	#companylogo .logo {
		width: 400px;
		height: 400px;
		margin-left: -15px;
		margin-top: 20px;
	}

	.contact-form > #form > #div > .btn a {
	font-size: 10px;
	padding: 10px;
	margin: 30px;
	}

	header#main-header {
 		padding: 0 0;
 		background: rgba(0,0,0, .5);
 	}	

 	 header#main-header > div > h2 > a {
		text-size: 10px;
		padding: 0;
 	}

 	header#main-header > div:last-child > ul { 
 		width: 100%;
 		top: 0;
 		display: none; /*list of menu will show once clicked the toggle*/
 	}

 	header#main-header > div:last-child > ul:active { 
 		width: 100%;
 		top: 0;
 		display: block; /*list of menu will show once clicked the toggle*/
 	}


	header#main-header > div:last-child > ul > li > a {
		margin: 0;
		display: block;
		text-align: center;
	}

	.toggle {
		display: block;
	}

	.book-info {
		height: 100vh;
		padding: 30px;
	}

	.book,
	.comments {
		width: 100%;
	}

	.book > h2,
	.comments > h2 {
		font-size: 15px;
		margin: 15px;
	}

	.column {
		text-align: center;
	}

	footer#main-footer > p {
 	margin-bottom: 0;
 	}

 	.contact-form {
 		padding: 20px;
 	}
 	form {
 		width: 100%;
 	}
	
}

/*desktop style*/
@media only screen and (min-width: 960px) {


}